
body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

.upload-card {
    padding: 50 10 10 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.seed-card {
    max-width: 500px;
    padding: 50 10 10 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.slider-card {
    max-width: 500px;
    padding: 10 10 10 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.demo-card-wide.mdl-card {
    padding: 10 10 10 10;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('http://payload372.cargocollective.com/1/14/454798/9755361/Jimmy-Simpson---Modern-Love-Fish.gif') center / cover;
  }


.demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

h3{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
}
